BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortIfOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
IndentCaseLabels: true
AccessModifierOffset: -2
PointerAlignment: Right
ReferenceAlignment: Right
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
FixNamespaceComments: true
BinPackParameters: true
BinPackArguments: true
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnASingleLine: false
IndentWrappedFunctionNames: false
DerivePointerAlignment: false
AlwaysBreakTemplateDeclarations: Yes
Standard: Latest
